.container {
  margin-top: 100px;
}
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
 
  align-items: end;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.passport {
  width: 150px;
  height: 150px;
 
}
.passport img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}
.formContainer {
  display: none;
  width: 300px;
  overflow-y: auto;
}
.showForm {
  display: block;
}
.showForm h2 {
  text-align: center;
  color: #172554;
}
.form {
  width: 100%;
  /* height: 100%; */
  padding: 10px;
  border: 1px solid #172554;
  border-radius: 10px;
  /* background-color: #172554; */
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 3px 0;
  color: #172554;
}
.formGroup input {
  background-color: rgba(0, 0, 0, 0.09);
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 0;
}
.formGroup input:focus {
  outline: 1px solid #172554;
}
.formGroup select {
  background-color: rgba(0, 0, 0, 0.09);
  width: 100%;
  border: none;
  padding: 5px;
  border-radius: 10px;
}
.formGroup label {
  cursor: pointer;
}
.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnBack {
  width: 100px;
  height: 50px;
  font-size: 35px;
}

.btn {
  background-color: transparent;
  color: #172554;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #172554;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
}
.btn:hover {
  background-color: #172554;
  color: #fff;

  transition: color 0.5s;
}
.btn:active {
  transform: scale(0.93);
}
.btn.btnDelete {
  background-color: transparent;
  color: red;
}
.btn.btnDelete:hover {
  background-color: red;
  color: #fff;
}
.btn.btnCancel {
  color: #172554;
}
.btn.btnCancel:hover {
  background-color: orange;
  color: #fff;
}
.hideBtn {
  display: none;
}
.btnPrint {
  background-color: transparent;
  padding: 5px;
  border: none;
  border-radius: 10px;
  margin: 0px 5px;
  cursor: pointer;
  border-bottom: 1px solid #172554;
}
.btnPrint:hover {
  background-color: green;
  color: #fff;
}

@media (max-width: 960px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btnBack {
    width: 70px;
    height: 40px;
    font-size: 25px;
  }
}
@media (max-width: 600px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr;
  }
  .btnContainer {
    display: flex;
    flex-direction: column;
  }
  .btnBack {
    width: 35px;
    height: 35px;
    font-size: 25px;
  }
  .btnPrint {
    width: 30%;
    margin: 5px 0px;
  }
  .btnUpdate {
    width: 30%;
    margin: 5px 0px;
  }
  .btnDelete {
    width: 30%;
    margin: 5px 0px;
  }
}
